@import url(./normalize.css);
@import url(./animations.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

img {
  width: 100%;
  object-fit: cover;
}

html {
  font-size: 62.5%;
  max-width: 100dvw;
  height: 100%;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* MARK: VARIABLES 
*/

:root {
  --padding-block: 8rem;
  --padding-inline: 7rem;
  --margin-block: 5rem;
  --icon-size: 18px;
  --primary-color: #f4f4f4;
  --secondary-color: #747c7d;
  --bg-color: #e8ebea;
  --font-size-normal: 1.6rem;
  --font-size-huge: 4.2rem;
  --title-color: #393e3f;
  --title-size-normal: 2.8rem;
  --title-size-huge: 6rem;
  --word-spacing: 2px;
  --letter-spacing: 3px;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.list {
  list-style-type: none;
}

/* LINKS */

.link-arrow {
  color: var(--primary-color);
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  font-size: 1rem;
  transition: transform 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035),
    color 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.gallery .link-arrow:hover,
.grid .link-arrow:hover,
.link-arrow:hover {
  transform: translateY(10px);
  color: #000;
}

.link-arrow::after {
  letter-spacing: 0;
  content: "⟶";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 5px;
}

/* GRID */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* BLOCK */

.block {
  margin-block: calc(var(--margin-block) * 0.85);
  padding: calc(var(--padding-block) * 0.65) calc(var(--padding-inline) / 3);
}

.block__header h2 {
  text-transform: uppercase;
  color: var(--title-color);
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: var(--letter-spacing);
  font-size: var(--title-size-normal);
}

@media screen and (min-width: 768px) {
  .block {
    margin-block: var(--margin-block);
    padding: calc(var(--padding-block) / 2) calc(var(--padding-inline) / 3);
  }

  .block__header h2 {
    font-size: calc(var(--title-size-huge) * 0.75);
  }
}

@media screen and (min-width: 1024px) {
  .block {
    padding: var(--padding-block) var(--padding-inline);
  }

  .block__header h2 {
    font-size: var(--title-size-huge);
  }
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__content {
  display: none;
}

.collapsible--expanded .collapsible__content {
  display: block;
}

.collapsible__content,
.collapsible__xmark,
.collapsible--expanded .collapsible__bars {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s, opacity 0.3s;
}

.collapsible__bars,
.collapsible--expanded .collapsible__content,
.collapsible--expanded .collapsible__xmark {
  max-height: 100dvh;
  opacity: 1;
}

.collapsible--expanded .collapsible__content .navbar__list {
  animation: scale-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* MARK: TOP 
*/

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
  background-color: var(--bg-color);
}

.top__item {
  text-align: center;
  color: var(--secondary-color);
  font-size: var(--font-size-normal);
}

.top__item .icon {
  fill: var(--secondary-color);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  & .icon {
    transform: translateY(4px);
  }
}

.social {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .top {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2.5rem;
  }

  .contact {
    flex-direction: row;
    gap: 1rem;
  }

  .social {
    flex-direction: row;
    gap: 1.5rem;
  }
}

/* MARK: NAVBAR 
*/

.navbar {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  margin-top: -1px;
}

.navbar .icon {
  fill: var(--secondary-color);
  width: calc(var(--icon-size) * 1.25);
  height: calc(var(--icon-size) * 1.25);
}

.logo .icon {
  width: calc(var(--icon-size) * 2);
  height: calc(var(--icon-size) * 2);
}

.navbar .icon-container {
  position: relative;
  margin: 0 2.5rem 2.5rem 0;
}

.icon-container .collapsible__bars,
.icon-container .collapsible__xmark {
  position: absolute;
  inset: 0;
}

.navbar__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--primary-color);
}

.navbar__item {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: var(--font-size-normal);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  color: var(--secondary-color);
  white-space: nowrap;
}

.navbar__item.active,
.navbar__item:hover {
  background-color: var(--bg-color);
}

@media screen and (min-width: 768px) {
  .navbar .collapsible__header {
    display: none;
  }

  .navbar .collapsible__content {
    max-height: 100dvh;
    opacity: 1;
  }

  .navbar {
    gap: 2.5rem;
  }

  .navbar__list {
    background-color: transparent;
    position: relative;
    flex-direction: row;
    align-items: center;
  }

  .navbar__item.active,
  .navbar__item:hover {
    background-color: inherit;
    text-decoration: underline;
  }
}

/* MARK: HERO 
*/

.hero .link-arrow {
  margin-block: 2rem;
  text-align: center;
  font-size: var(--font-size-normal);
  color: var(--secondary-color);
  animation: reveal 2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.hero__content {
  background-color: var(--bg-color);
  color: var(--bg-color);
  font-style: normal;
  letter-spacing: var(--letter-spacing);
  padding: 8rem 0 2.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.hero__subtitle {
  color: var(--secondary-color);
  font-size: calc(var(--font-size-normal) * 0.8);
  font-weight: 400;
  margin-bottom: 0.8rem;
  margin-inline: 0.5rem;
  text-wrap: balance;
  animation: reveal 2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.hero__strong {
  display: inline-block;
  width: 100%;
  color: var(--title-color);
  font-family: "Italiana", sans-serif;
  font-size: calc(var(--font-size-huge) * 0.75);
  font-weight: 100;
  animation: to-right 2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.hero__title {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-normal);
  color: var(--secondary-color);
  animation: to-right 2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.hero__picture:nth-of-type(1) {
  & > img {
    height: 215px;
  }
}

.hero__picture:nth-of-type(2) {
  min-height: 320px;
  order: 3;
  & > img {
    object-position: bottom center;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    grid-template-rows: 35vh 20vh 31.5rem;
  }

  .hero__content {
    align-self: flex-end;
    background-color: transparent;

    --width: 50%;
    --height: 100%;
    position: relative;
    grid-row: 1/3;

    &::after {
      content: "";
      position: absolute;
      top: -200%;
      left: 0;
      z-index: -10;
      height: calc(var(--height) * 3);
      width: var(--width);
      background-color: var(--bg-color);
    }
  }

  .hero__subtitle {
    margin-left: 1.5rem;
    font-size: var(--font-size-normal);
    text-align: left;
  }

  .hero__strong {
    margin-left: 1rem;
    font-size: calc(var(--font-size-huge) * 1.5);
    text-align: right;
  }

  .hero__title {
    margin-top: 0;
    text-align: right;
    font-size: calc(var(--font-size-normal) * 1.5);
    letter-spacing: calc(var(--letter-spacing) * 1.5);
  }

  .hero__picture:nth-of-type(1) {
    grid-column: 1/2;
    width: 50%;
    background-color: var(--bg-color);

    & > img {
      height: 100%;
      width: 85%;
    }
  }

  .hero__picture:nth-of-type(2) {
    grid-column: 2/4;
    grid-row: 1/3;

    & > img {
      height: 100%;
    }
  }

  .hero .link-arrow {
    text-align: left;
    align-self: center;
    margin-left: -20rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    grid-template-rows: 35vh 20vh 31.5rem;
  }

  .hero__content {
    grid-column: 1/3;
  }

  .hero__subtitle {
    margin-left: 3.5rem;
  }

  .hero__strong {
    font-size: calc(var(--font-size-huge) * 2.5);
    margin-left: 2rem;
  }

  .hero__title {
    margin-top: 0.5rem;
    font-size: calc(var(--font-size-normal) * 2);
    letter-spacing: calc(var(--letter-spacing) * 3);
  }

  .hero__picture:nth-of-type(1) {
    width: 100%;

    & > img {
      height: 100%;
      width: 75%;
    }
  }

  .hero__picture:nth-of-type(2) {
    grid-column: 3/4;
    & > img {
      height: 75%;
    }
  }

  .hero .link-arrow {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: -5rem;
  }
}

/* ABOUT */

.about {
  display: grid;
  place-content: center;
}

.about__header {
  text-align: center;
  padding: 1rem;
  color: var(--secondary-color);
}

.about__desc {
  letter-spacing: var(--letter-spacing);
  font-size: calc(var(--font-size-normal) * 0.75);
  line-height: 1.5;
}

.about__title {
  white-space: nowrap;
  margin-bottom: 1rem;
}

.about__content {
  color: var(--secondary-color);
  font-size: var(--font-size-normal);
  padding: 1rem 2.5rem;
  text-align: center;
  text-wrap: balance;

  & p {
    margin-bottom: 1.5rem;
    line-height: 1.3;
  }
}

.about__content .link-arrow {
  display: inline-block;
  margin: 1.5rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.about__picture {
  margin-bottom: 5rem;
  & > img {
    height: 30vh;
    width: 82%;
    box-shadow: 60px 60px 0 0 var(--bg-color);
  }
}

@media screen and (min-width: 768px) {
  .about__picture {
    padding-block: 3rem;
    grid-row: 1 / 3;
  }

  .about__picture > img {
    max-width: 576px;
    height: 43vh;
  }

  .about__header,
  .about__content {
    font-size: 1.4rem;
    text-align: start;
    margin-left: 2rem;
    padding-inline: 2.5rem;
    line-height: 1.5;
  }

  .about__header {
    align-self: center;
    & h2 {
      font-size: 4rem;
    }
  }

  .about .link-arrow {
    margin-left: 0;
  }
}

/* MARK: GALLERY 
*/

/* TODO: Arreglar animación scroll no funciona con overflow-x hidden */

.gallery__title {
  text-align: center;
  text-wrap: balance;
  color: var(--secondary-color);
  margin-bottom: 3.5rem;
  letter-spacing: var(--letter-spacing);
}

.gallery .grid {
  gap: 2rem;
}

.gallery .link-arrow {
  display: inline-block;
  margin-top: 5rem;
  margin-inline: auto;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.gallery__picture:nth-of-type(1) {
  animation: to-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.gallery__picture:nth-of-type(2) {
  position: relative;
  z-index: 100;
  animation: reveal 1s ease both;
}

.gallery__picture:nth-of-type(3) {
  animation: to-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.gallery__picture:nth-of-type(1),
.gallery__picture:nth-of-type(2),
.gallery__picture:nth-of-type(3) {
  animation-timeline: view();
  animation-range: 25% 50%;
  animation-fill-mode: both;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-block: 3rem;
    padding-inline: calc(var(--padding-inline) * 0.5);
  }

  .gallery .grid {
    column-gap: 1rem;
  }

  .gallery__picture > img {
    aspect-ratio: 16/20;
  }

  .gallery__title {
    font-size: var(--font-size-huge);
    margin-bottom: 5rem;
  }

  .gallery .link-arrow {
    margin-top: 6rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    padding-inline: calc(var(--padding-inline) * 2);
  }
}

/* MARK: TESTIMONIALS
*/

.testimonials {
  background-color: var(--bg-color);

  & .icon {
    fill: var(--secondary-color);
    width: calc(var(--icon-size) * 0.6);
  }

  & .grid {
    row-gap: 5rem;
  }
}

.testimonials__title {
  text-align: left;
  white-space: nowrap;
  margin-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .card {
    padding: 2.5rem;
  }
}

.quote {
  font-size: var(--font-size-normal);
  color: var(--secondary-color);
  line-height: 1.3;
}

.quote figure {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.quote figure > img {
  float: left;
  border-radius: 100%;
  width: 47px;
  height: 47px;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

@media screen and (min-width: 768px) {
  .testimonials .grid {
    column-gap: 3.5rem;
  }

  .testimonials__title {
    text-align: center;
    font-size: var(--font-size-huge);
  }
}

/* MARK: CARROUSEL
*/

.carrousel {
  margin-block: 0;
  padding-inline: 2.6rem;
}

.carrousel__title {
  white-space: nowrap;
  text-align: center;
  margin-bottom: 5rem;
}

.brands {
  margin-bottom: 4rem;
  overflow-x: hidden;
}

.brands__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: slide 10s infinite;
}

.brands__item {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  }
  45% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-300%);
  }
  65% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(-400%);
  }
  85% {
    transform: translateX(-400%);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.carrousel .icon {
  width: calc(var(--icon-size) * 7.5);
}

@media screen and (min-width: 768px) {
  .carrousel .icon {
    width: calc(var(--icon-size) * 7.5);
    height: calc(var(--icon-size) * 7.5);
  }

  .brands__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .brands__list {
    animation: none;
  }

  .brands__item {
    min-width: 20%;
  }
}

/* MARK: FOOTER
*/

.footer {
  height: 100dvh;
  padding-top: 5rem;
  background-color: var(--bg-color);
}

.footer .grid {
  height: 100%;
}

.footer .grid--columns-2 {
  grid-template-rows: auto 30rem;
}

.footer__content {
  align-self: center;
  margin-bottom: 2.5rem;
}

.footer__title {
  text-align: center;
  margin-bottom: 3rem;
}

.footer__desc {
  padding-inline: 3rem;
  line-height: 1.5;
  font-size: var(--font-size-normal);
  color: var(--secondary-color);
  text-align: center;
  text-wrap: balance;
}

.footer__picture {
  background-image: url(../images/footer-pic-tall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .link-arrow {
  display: inline-block;
  width: 100%;
  color: var(--secondary-color);
  text-align: center;
  margin: 3rem 0;
  font-size: var(--font-size-normal);
}

.copy {
  padding: 3rem;
  color: var(--secondary-color);
  font-size: var(--font-size-normal);
  text-align: center;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-block: 0;
  }

  .footer__content {
    padding-inline: 1.5rem;
  }

  .footer .grid--columns-2 {
    grid-template-rows: auto;
  }

  .footer .footer__picture {
    background-position-x: 17.5rem;
    background-position-y: -30rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer .footer__picture {
    background-position-x: 25rem;
    background-position-y: -50rem;
  }
}

@media screen and (min-width: 1440px) {
  .footer .footer__picture {
    background-position-x: 35rem;
    background-position-y: -100rem;
  }
}
