* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

#banner {
  display: grid;
  place-content: center;
  gap: 1rem;
  position: relative;
  width: 100vw;
  height: 100vh;
}

#banner h1,
#banner h2 {
  text-align: center;
  color: #fff;
}

#banner h1 {
  font-size: 2rem;
  text-shadow: 2px 2px 0px #1c1a1a;
  word-spacing: 0.5rem;
}

#banner h2 {
  width: fit-content;
  padding: 0.25rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ccc;
  font-size: 0.75rem;
}

#banner img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: inherit;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  #banner {
    gap: 1.5rem;
  }

  #banner h1 {
    font-size: 2.5rem;
  }

  #banner h2 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  #banner {
    gap: 2rem;
  }

  #banner h1 {
    font-size: 3rem;
  }

  #banner h2 {
    font-size: 1.5rem;
  }
}
