/* HIDING ELEMENTS */

#hiding-elements p:first-of-type {
  display: none;
  /* oculta elemento y no ocupa espacio */
}

#hiding-elements p:nth-of-type(2) {
  visibility: hidden;
  /* oculta el elemento pero ocupa espacio */
}

/* MEDIA QUERIES */

#media-queries .container {
  display: flex;
  flex-direction: column;
}

#media-queries .box {
  padding: 1rem;
}

#media-queries .box:first-of-type {
  background-color: gold;
}

#media-queries .box:nth-of-type(2) {
  background-color: dodgerblue;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
  }
  .box {
    background-color: white;
  }
}

@media print {
  body {
    font-size: 12pt;
  }

  .box {
    padding: 0.5cm;
  }
}

/* BOX MODEL */

#box-model p {
  padding: 20px; /* Añade espacio dentro del párrafo */
  margin: 20px; /* Añade espacio por fuera del párrafo (SE COMPARTE) */
}

/* SIZING ELEMENTS */

/* box-sizing: content-box --> Valor por defecto
  width y height solo aplican al contenido
*/

/* box sizing: border-box
  width y height son calculados de acuerdo al padding y al border
*/

/* Setear todos los elementos como border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

#sizing-elements .box {
  padding: 0.5rem;
  width: 100px;
  height: 100px;
  background-color: gold;
  display: inline-block; /* Por defecto los elementos en bloque ocupan todo el espacio disponible pero con inline sólo ocupan de acuerdo al contenido + padding + border */
}
