<div class="callout callout--primary">
  <div class="grid grid--cols-2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum officiis
        culpa quo est, mollitia, expedita necessitatibus dolore alias facere,
        labore nemo. Incidunt sint sed ullam dolores dolorum accusamus fugit
        libero.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
